# Exported from Render on 2025-11-16T08:48:57Z
version: "1"
projects:
- name: TrinityChain
  environments:
  - name: TrinityChain
    services:
    - type: web
      name: TrinityChain-API
      runtime: rust
      repo: https://github.com/TrinityChain/TrinityChain
      plan: free
      region: oregon
      buildCommand: cargo build --release --bin trinity-api
      startCommand: ./target/release/trinity-api
      autoDeployTrigger: commit
